.bg-ash-green {
    background-color: #B8D1BA;
}

.custom-shadow-orange:hover {
    background-color: #F27807;
}

.bg-raisin-black {
    background-color: #282938;
}

.bg-safety-orange {
    background-color: #F27807;
}

.pointer-on-hover {
    cursor: pointer;
}