.box {
    height: 293px;
    width: 586px;
    display: grid;
    align-items: center;
  }
  
  .box .book-information {
    height: 293px;
    left: 0;
    position: fixed;
    top: 0;
    width: 586px;
    display: grid;
    align-items: center;
    justify-content: center;
  }